[DEFAULT]
here = /var/local/sdmc

[sdmc]
db_uri = mongodb://127.0.0.1/sdmc
virtualenv = /var/local/sdmc_env
python_egg_cache = /tmp/python_egg_cache

[loggers]
keys = root

[formatters]
keys = root

[handlers]
keys = stream

[logger_root]
level = NOTSET
handlers = stream

[handler_stream]
class = StreamHandler
level = NOTSET
formatter = root
args = ()

[formatter_root]
format = %(asctime)s %(name)12.12s:%(levelname)4.4s %(message)s

[uwsgi]
socket = /run/uwsgi/app/sdmc/socket
chmod-socket = 666
plugins = python
chdir = /var/local/sdmc
wsgi-file = /var/local/sdmc/sdmc.wsgi
processes = 1
threads = 1
master = 1
logto = /var/log/uwsgi/sdmc.log
